---
import PrimaryLayout from '../layouts/PrimaryLayout.astro'	
import FeaturedArticle from '../components/FeaturedArticle.astro'	
import PopularArticles from '../components/PopularArticles.astro'	

---

<PrimaryLayout>
	<div class="three-columns section">
		<FeaturedArticle class="span-2"/>	
		<div class="inverted flow">
		<h2 class="accent-color">New</h2>
		<ul role="list" class="separated-list">
			<li>
				<article class="flow">
					<h3><a href="https://www.temporary-url.com/3A02D1">Hydrogen VS Electric Cars</a></h3>
					<p>Will hydrogen-fueled cars ever catch up to EVs?</p>
				</article>
			</li>
			<li>
				<article class="flow">
					<h3><a href="https://www.temporary-url.com/3A02D1">The Downsides of AI Artistry</a></h3>
					<p>What are the possible adverse effects of on-demand AI image generation?</p>
				</article>
			</li>
			<li>
				<article class="flow">
					<h3><a href="https://www.temporary-url.com/3A02D1">Is VC Funding Drying Up</a></h3>
					<p>Private funding by VC firms is down 50% YOY.  We took a look at what that means.</p>
				</article>
			</li>
</div>
</div>		

		<PopularArticles class="three-columns section"/>
	
</PrimaryLayout>


