---
const { class: className } = Astro.props;
---

<div class:list={[className, "featured-article-container"]}> 
    <h2 class="visually-hidden">Featured article</h2>
    <article>
        <img src="/images2/image-product-1.jpg" alt="Featured Article" width="500" height="475"/>
</article>
</h2>

<style>
    .featured-article-container {
        container-type: inline-size;
    }
    article {
        display: block;
        gap: 1rem;
        @container (width > calc(40ch * 2))  {
            gap: 2rem 1rem;
            
        }
    }   

    

    h3 {
        font-size: var(--fs-900);
    }


</style>

