---
const { class: className } = Astro.props;

---
<h2 class="visually-hidden">Popular Articles</h2>
<ul role="list" class:list={className}>
    <li>
        <article>
            <img src="/images/image-retro-pcs.jpg" alt="#">
            <div class="flow">
                <h3><a href="https://www.temporary-url.com/3A02D1">Reviving Retro PCs</a></h3>
                <p>What happens when old PCs are given modern upgrades?</p>
            </div>
        </article>
    </li>
    <li>
        <article>
            <img src="/images/image-retro-pcs.jpg" alt="#">
            <div class="flow">
             <h3><a href="https://www.temporary-url.com/3A02D1">Top 10 Laptops of 2022</a></h3>
                <p>Our best picks for various needs and budgets</p>
            </div>
        </article>

    </li>
    <li>
        <article>
            <img src="/images/image-retro-pcs.jpg" alt="#">
            <div class="flow">
             <h3><a href="https://www.temporary-url.com/3A02D1">The Growth of Gaming</a></h3>
                <p>How the pandemic has sparked fresh opportunities</p>
            </div>
        </article>
    </li>
</ul>

<style>
    article {
        display: grid;
        gap: 1rem;
        grid-template-columns: 100px auto;

        > div {
            display: grid;
            gap: .1rem;

        &::before {
        content: counter(article-count, decimal-leading-zero);
        display:block;
        font-weight: var(--fw-extrabold);
        font-size: var(--fs-700);
        color: var(--clr-accent-400);

    }

        }
    }

    ul {
        counter-reset: article-count;
    }

    li {
        counter-increment: article-count;
    }


</style>