@font-face {
    font-family: 'Inter', sans-serif;
    src: url('../assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('ttf');
    font-weight: 400, 700, 900;
    font-display: swap; 
}   

:root {
	--primary-color: #000;
	--clr-neutral-100: #fff;
    --clr-neutral-200: hsl(36, 100%, 99%);
    --clr-neutral-400: hsl(233, 8%, 79%);
    --clr-neutral-800: hsl(228, 78%, 15%);
   --clr-neutral-900: hsl(238, 92%, 5%);

   --clr-yellow-400: hsl(35, 77%, 62%);
   --clr-orange-400: hsl(5, 85%, 63%);

   --clr-accent-400: var(--clr-orange-400);

   --ff-primary: 'Inter', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extrabold: 900;

    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 2.5rem;
    --fs-900: 3rem; 
}

*, *::before, *::after {
    box-sizing: border-box;
}   

h1, h2, h3, h4, p {
    margin: 0;  
}   

h1, h2, h3, h4 {
    line-height: 1.1;
    font-weight: var(--fw-extrabold);
    color: var(--clr-heading);   
    text-wrap: balance;
} 

:where(h1, h2, h3, h4) > a {
    color: currentColor;
    text-decoration: none;

    &:hover,
    &:focus-visible {
        color: var(--clr-accent-400);
    }
}


p, li {
    text-wrap: pretty;
    max-width: 65ch;
}

[role="list"] {
    list-style: none;
    padding: 0;
    margin: 0;
}   

img {
    display: block;
    max-width: 100%;
}   

body {
    margin: 0;
    color: var(--clr-body);
    font-family: var(--ff-primary);  
    line-height: 1.6;   
}

main,
section,
header, footer {
    container-type: inline-size;
}

.base-layout {
    --max-width: 1180px;
    --padding: 1rem;

    display: grid;
    grid-template-columns: 
        minmax(var(--padding), 1fr)
        min(var(--max-width), 100% - (var(--padding) * 2))
        minmax(var(--padding), 1fr);

    & > * {
        grid-column: 2 / 3;
    }

    & > .full-width {
        grid-column: 1 / -1;
    }
}

.three-columns {
    display: grid;
    gap: 1rem;

    @container (width > 900px) {
        grid-template-columns: repeat(3, 1fr);
    }

> .span-2 {
    grid-column: span 2;
    }
}

.visually-hidden {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px; 
}

.accent-color {
    color: var(--clr-accent-400);
    font-size: var(--fs-700);
}

.heading-color {
    color: var(--clr-neutral-100);
}

.inverted {
    --clr-heading: var(--clr-neutral-100);
    --clr-body: var(--clr-neutral-400);
    --clr-accent-400: var(--clr-yellow-400);

    padding: 2rem;
    background-color: var(--clr-neutral-800); 
}

p {
    color: var(--clr-body);
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1em);
}


.section { 
      margin-block-end: 3rem;
}
.separated-list {
    /* add a separator between all items */
    & > * + *::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: hsl(from var(--clr-body) h s l / .44);
        margin-block: 1.5rem;
    }


}

.button {
    display: inline flex;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--clr-accent-400);
    color: var(--clr-neutral-900);
    padding: .75em 1.5em;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: .25ch;

    &:hover,
    &:focus-visible {
        background-color: var(--clr-neutral-800);
        color: var(--clr-neutral-100);
    }


}
